.profile__edit-button {
  height: 24px;
  width: 24px;
  margin-left: 17px;
  background-color: black;
  position: relative;
  cursor: pointer;
  transition: opacity .3s linear;
  margin-bottom: 10px;
  border: 1px solid white;
  box-sizing: border-box;
}

.profile__edit-button::before {
  content: '';
  display: block;
  background-image: url(../../../images/Pensil.svg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(100% - 14px);
  width: calc(100% - 14px);
  /* padding: 7px; */
  /* box-sizing: border-box; */
  background-size: contain;
  background-repeat: no-repeat;
  /* border: 1px solid red; */
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 358px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }

  .profile__edit-button::before {
    background-size: contain;
  }
}