.popup__form-submit {
  width: 100%;
  min-height: 50.15px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  background-color: black;
  color: white;
  border-radius: 2px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  transition: opacity .3s linear;
}

.popup__form-submit:hover {
  opacity: .8;
}