@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);

@import url(../blocks/root/root.css);

@import url(../blocks/page/page.css);
@import url(../blocks/page/_content/page_content_paddings.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/_align/header_align_center.css);

@import url(../blocks/logo/logo.css);

@import url(../blocks/content/content.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/_align/profile_align_top-center.css);
@import url(../blocks/profile/__info-area/profile__info-area.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info-container/profile__info-container.css);
@import url(../blocks/profile/__full-name/profile__full-name.css);
@import url(../blocks/profile/__profession/profile__profession.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);

@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/_align/elements_align_top-bottom.css);
@import url(../blocks/elements/__list/elements__list.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__text/element__text.css);
@import url(../blocks/element/__text-container/element__text-container.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__delete/element__delete.css);
@import url(../blocks/element/__like/_active/element__like_active.css);


@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/_align/footer_align_center.css);
@import url(../blocks/footer/__text/footer__text.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__submit-button/popup__submit-button.css);
@import url(../blocks/popup/__form-container/popup__form-container.css);
@import url(../blocks/popup/__input/_field/popup__input_field_full-name.css);
@import url(../blocks/popup/__input/_field/popup__input_field_profession.css);
@import url(../blocks/popup/_functional/popup_functional_edit-profile.css);
@import url(../blocks/popup/_functional/popup_functional_show-image.css);
@import url(../blocks/popup/_functional/popup_functional_add-place.css);
@import url(../blocks/popup/__image-figure/popup__image-figure.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__caption/popup__caption.css);
@import url(../blocks/popup/__container/_disabled/popup__container_disabled.css);
@import url(../blocks/popup/__image-figure/_disabled/popup__image-figure_disabled.css);
