.page__paddings {
  padding: 45px 199px 60px;
}

@media screen and (max-width: 734px) {
  .page {
    padding: 45px 100px 60px;

  }
}

@media screen and (max-width: 585px) {
  .page {
    padding: 28px 19px 36px;

  }
}